engine-strict=true
show-progress=false
registry="http://registry.npmjs.org/"
# node-gyp configuration
# msvs_version=2017
# python=C:\Python310\python.exe
python=C:\Python27\python.exe
msvs_version=2015
legacy-peer-deps=true